@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


article{
	position:relative;
}


 
 body{
    /* 스크롤 바로 인해 body 영역이 밀리지 않도록 함 */
    overflow: overlay;
}

/* article > .video_content > .video_Brand {
    width: 50%;
  	height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    float:left;
}

article > .video_content > .video_SHand {
    width: 50%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    float:left;
}


article > .video_content > .video_Brand > p {
	vertical-align:middle;
    text-align: center;
    font-size: 40px;
    color: #FFFFF0;
    visibility: hidden;
    padding-top: 50%;
    padding-botton:50%;
    
}

article > .video_content > .video_SHand > p {
	vertical-align:middle;
    text-align: center;
    font-size: 40px;
    color: #FFFFF0;
    visibility: hidden;
    padding-top: 50%;
    padding-botton:50%;
}

article > .video_content > .video_Brand:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

article > .video_content > .video_SHand:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
}


article > .video_content > .video_Brand:hover > p {
    visibility: visible;
}

article > .video_content > .video_SHand:hover > p {
    visibility: visible;
} */

.product_slide {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.slide_wrapper ul li {
    list-style: none;
    
}

.slide_wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bxslider li {
    height: 360px;
    background-color: #ffffff;
}

.bxslider li img {
	cursor: pointer !important;
}


.bxslider li:hover {
	cursor: pointer;
}

.bxslider_2 li {
    height: 360px;
    background-color: #ffffff;
}

.bxslider_2 li img {
	cursor: pointer !important;
}


.bxslider_2 li:hover {
	cursor: pointer;
}
/* ------------------------------- */
.cater3-movingBG {
    height: 1vh;
   
}



.flyinTxtCont {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 10%;
      margin-left: 2em;
}
.flyIn {
    color:#fff;
    font-family:'Raleway';
    text-transform:uppercase;
    line-height:1.2em;
    position:relative;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
}
.lineOne {
  transition-delay:.2s; 
  transition:.4s ease in;
  animation: txtFlyIn .3s linear;
}
.lineTwo {
    transition-delay:.8s; 
    transition:.6s ease in;
    animation: txtFlyIn .6s linear;
}
.lineThree {
    transition-delay:.5s; 
    transition:.7s ease in;
    animation: txtFlyIn .8s linear;
}
.lineOne, .lineTwo, .lineThree, .lineFour {
    font-size:90px;
    font-weight: 800;
    letter-spacing: 2px;
  }
.lineFour {
	transition-delay:50s; 
    transition:.2s ease in;
    animation: fadeIn 4s linear;
	font-style: oblique;
    /* transition-delay:4s; 
    transition:2s ease in;
    animation: fadeIn 2s linear;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    display:inline-block;
    color:#000;
    box-size:border-box;
    max-width:63%;
    max-width: 22em;
    font-size: 32px;
   	font-style: oblique;
    padding: .2em .5em;
    margin-top: 30px; */
    
}
@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity:1;}
}
@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}

.main-view{
      margin:  auto;
      margin-bottom: 20px;
      margin-top: 50px;
    text-align: center;
}
.main-view{height:500px;overflow:hidden;}
    .main-view ul{width:calc(100% * 3);display:flex;animation:slide 8s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
    .main-view li{width:calc(100% / 3);height:300px;}
    
    @keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      100% {margin-left:0;}
    }
.slide_HotItems h1 {
		 text-decoration : none;
		 font-style: oblique;
		 text-align : center;
}

.slide_NewArrivals h1 {
		 text-decoration : none;
		 font-style: oblique;
		 text-align : center;
}
